@gato: #2f184a;
.margenes(@top: 00px,@bottom: 00px,) {
    margin-top: @top;
    margin-bottom: @bottom;
    .margenes(50px,0px);
 
}

.producto-oscuro {
    background-color: @gato; }
  
  .producto-claro {
    background-color: @gato; }
  
  h1 {
    text-align: center; }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: @gato;
    color: white;
    text-align: center;
    font-size: 0.7rem; }
  
  .fondo-negro {
    background-color: @gato !important;
    color: white !important; }
  
  .boton {
    background-color: @gato;
    width: 100%;
    align-items: flex-end;
    margin-top: 0px;
    margin-bottom: 30px; }
  
  .alinear-al-fond {
    margin-top: auto;
    margin-top: 1rem; }
  
  .bank {
    flex: 1 30%;
    display: flex;
    flex-direction: column;
    width: 400px; }
  
  .card-banco {
    flex: auto; }
  
  .min {
    width: 200px; }
  