.producto-oscuro {
  background-color: #2f184a; }

.producto-claro {
  background-color: #2f184a; }

h1 {
  text-align: center; }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2f184a;
  color: white;
  text-align: center;
  font-size: 0.7rem; }

.fondo-negro {
  background-color: #2f184a !important;
  color: white !important; }

.boton {
  background-color: #1572be;
  width: 100%;
  align-items: flex-end;
  margin-top: 0px;
  margin-bottom: 30px; }

.alinear-al-fond {
  margin-top: auto;
  margin-top: 1rem; }

.bank {
  flex: 1 30%;
  display: flex;
  flex-direction: column;
  width: 400px; }

.card-banco {
  flex: auto; }

.min {
  width: 200px; }
