$hola: #2f184a;

@mixin margenes($top,$bottom,) {
    margin-top: $top;
    margin-bottom: $bottom;
 
}
.producto-oscuro {
    
    background-color: $hola;
}
.producto-claro {
    background-color: $hola;
}


h1 { text-align: center}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:$hola;
    color: white;
    text-align: center;
    font-size: 0.7rem;
 }

 .fondo-negro {
    background-color:  $hola !important;
    color: white !important;
 }
 
 .boton {
     background-color: rgb(21, 114, 190);
     width: 100%;
     align-items: flex-end;
    @include margenes(00px,30px, );


     
 }
 .alinear-al-fond{
    margin-top: auto;
    margin-top: 1rem;
 }
 .bank{
     flex: 1 30%;
     display: flex;
     flex-direction: column;
     width: 400px;
   
 }
 .card-banco {
     flex: auto;
}
.min {
    width:200px
    
    
  }