.producto-oscuro {
  background-color: #a6500f;
}
.producto-claro {
  background-color: #a6500f;
}
h1 {
  text-align: center;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #a6500f;
  color: white;
  text-align: center;
  font-size: 0.7rem;
}
.fondo-negro {
  background-color: #a6500f !important;
  color: white !important;
}
.boton {
  background-color: #a6500f;
  width: 100%;
  align-items: flex-end;
  margin-top: 0px;
  margin-bottom: 30px;
}
.alinear-al-fond {
  margin-top: auto;
  margin-top: 1rem;
}
.bank {
  flex: 1 30%;
  display: flex;
  flex-direction: column;
  width: 400px;
}
.card-banco {
  flex: auto;
}
.min {
  width: 200px;
}
